.product-info-container{

    /* border: 2px solid rgb(4, 0, 255); */
    height: 100vh;
    padding: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.left-container{
   height: 90vh;
   padding: 10px;
   /* border: 1px solid red; */
}

.left-container>img{
    height: 90%;
}

.right-container{

    /* border: 2px solid greenyellow; */
    padding: 20px;
    height: 90vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-container>h2{

    font-size: 1.5rem;
    color: grey;
    font-weight: 700;
}
.right-container>h3{
    font-size: 1.3rem;
    font-weight: 700;
    color: grey;
}

.para-box p{
   font-size: 15px;
   text-align:left;
}

/* ................................................................................. */

 @media (max-width:992px) {
    .product-info-container{
       
         flex-direction: column;
         width: 100%;
    }

    .left-container{
        height: 50vh;
        width: 100%;
     }

     .right-container{
        width: 100%;
     }

    .left-container>img{
        width: 100%;
        object-fit: contain;
    }
} 